.cp{
    cursor: pointer;
}

.newsletter-section {
    background-color: #f2f2f2;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .newsletter-content {
    text-align: center;
  }
  
  .small-text {
    font-size: 12px;
  }
  
  .big-text {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .text {
    font-size: 12px;
    color: #666;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .icon {
    margin: 0 5px;
    padding: 5px;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  .icon svg {
    color: #333;
  }



  body {
    background: #2a2e32;
}

.text-small {
    font-size: 0.9rem;
}

a {
    text-decoration: none !important; 
}

a:hover,
a:focus {
    text-decoration: underline !important;
}

.form-control {
    background: #212529;
    border-color: #545454;
    color: #FEFEFE;
}

.form-control:focus {
    background: #212529;
    color: #ED7D14;
}

footer {
    background: #212529;
}

/* ==========================================
CUSTOM UTILS CLASSES
========================================== */
body,
html {
    height: 100%;
}

input {
    color: #FCFCFC;
    background: #2F667A;
}

textarea,
input {
    background: #444444;
    color: #FEFEFE;
}